<%-include('head.ejs')%>
<body>
  <%-include('../common/topNav.ejs')%>
  <form method="post" action="#">
    <fieldset>
          <label for="type">TYPE:</label>
          <select name="type" id="type" onchange="reeval(this.value)">
            <option value="game">Game</option>
            <option value="achievement" selected>Achievement</option>
          </select>

          <br id="criticalBR">

          <label for="name" class="name">Name:</label>
          <input name="name" value="" type="textform" autocomplete="off" 
          class="name"/>

          <br class="name">

          <label for="platform" class="platform">Platform:</label>
          <input name="platform" value="" type="textform" autocomplete="off" 
          class="platform"/>

          <br class="platform">

          <label for="description" class="description">Description:</label>
          <input name="description" value="" autocomplete="off" 
          class="description"/>

          <br class="description">

          <label for="rare" class="rare">Rare?:</label>
          <input name="rare" type="checkbox" value="1" autocomplete="off"
          class="rare"/>


          <br class="rare">

          <label for="completed" class="completed">Unlocked?:</label>
          <input name="completed" type="checkbox" value="1" autocomplete="off"
          class="completed"/>

          <br class="completed">

          <label for="custom" class="custom">Custom?:</label>
          <input name="custom" type="checkbox" value="1" autocomplete="off"
          class="custom"/>

          <br class="custom">

          <label for="game" class="game">From:</label>
          <input name="game" value="Astroneer" autocomplete="off"
          class="game"/>

          <br class="game">

          <label for="icon" class="icon">Icon:</label>
          <input name="icon" value="" autocomplete="off"
          class="icon"/>

          <br class="icon">

          <label for="ach_count" class="ach_count">Achievements:</label>
          <input name="ach_count" value="" autocomplete="off"
          class="ach_count"/>

          <br class="ach_count">

          <button>Add to database</button>
    </fieldset>
  </form>
</body>
</html>