<%-include('head.ejs')%>
<body>
  <%-include('../common/topNav.ejs')%>
  <form method="post" action="#">
    <fieldset>
          <label for="type">TYPE:</label>
          <select name="type" id="type" onchange="reeval(this.value)">
            <option value="game">Game</option>
            <option value="achievement">Achievement</option>
          </select>

          <br>

          <label for="name" class="name">Achievement name:</label>
          <input name="name" value="" type="textform" autocomplete="off" 
          class="name"/>

          <br>

          <label for="description" class="description">Achievement description:</label>
          <input name="description" value="" autocomplete="off" 
          class="description"/>

          <br>

          <label for="rare" class="rare">Is achievement rare?:</label>
          <input name="rare" type="checkbox" value="1" autocomplete="off"
          class="rare"/>

          <br>

          <label for="completed" class="completed">Is achievement unlocked?:</label>
          <input name="completed" type="checkbox" value="1" autocomplete="off"
          class="completed"/>

          <br>

          <label for="custom" class="custom">Is achievement custom?:</label>
          <input name="custom" type="checkbox" value="1" autocomplete="off"
          class="custom"/>

          <br>

          <label for="game" class="game">Achievement from:</label>
          <input name="game" value="Subnautica" autocomplete="off"
          class="game"/>

          <br>

          <label for="icon" class="icon">Link to icon:</label>
          <input name="icon" value="" autocomplete="off"
          class="icon"/>

          <br>

          <label for="ach_count" class="icon">Achievements:</label>
          <input name="ach_count" value="" autocomplete="off"
          class="ach_count"/>

          <button>Add to database</button>
    </fieldset>
  </form>
</body>
</html>