<%-include('head.ejs')%>
<body>
<%-include('../common/topNav.ejs')%>
    <div class="container">
        <% doc.forEach(element => { %>
            <%- include('achBox', {ach: element}) %>
        <% }); %>
    </div>
</body>
</html>