<%-include('head.ejs')%>
<body>
<%-include('../common/topNav.ejs')%>
    <div class="container">
        <% doc.forEach(element => { %>
            <%- include('achBox', {ach: element}) %>
        <% }); %>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const buttons = document.querySelectorAll('button');

      buttons.forEach((element)=>{
        console.log(element.id);
        element.addEventListener('click', ()=>{
        socket.emit('event1', element.id);
        })
      })
    </script>
    <script src="./js/achPanel/achBoxDisplay.js"></script>
</body>
</html>