*{
    box-sizing: border-box;
    
}

body{
    margin-top: 0;
    margin-left: 0;
    margin-right:0;
    margin-bottom:0;
    background-color: #034;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: #fff;
}

main{
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

header{
    margin-top: 7vh;
    font-size: 2rem;
}

main > a{
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
    height: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    text-decoration: none;
}

nav{
    width: 100vw;
    height: 70px;
    background-color: #001622;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: #fff;
    font-family: monospace;
    margin-bottom: 25px;
}

nav > a{
    color: inherit;
    text-decoration: none;
}