*{
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: #034;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}   

.container{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

nav{
    width: 100vw;
    height: 70px;
    background-color: #001622;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: #fff;
    font-family: monospace;
    margin-bottom: 25px;
}

nav > a{
    color: inherit;
    text-decoration: none;
}

main{
    margin: 3%;
    display: grid;
    grid-template-areas: "cyberpunk subnautica";
    gap: 20px;
}

main > a{

    height: 250px;
    width: 250px;
    color: white;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10%;

    border-radius: 20px;
    text-align: center;

    text-decoration: none;

    transition: all .2s ease-in-out
}

main > a:hover{
    transform: scale(1.1);
}



label{
    color: #fff;
}

img{
    width: 250px;
    height: auto;
}

.textform *{
    width: 60%;
}