<form href="/<%-gam.name.toLowerCase()%>" style="background:url(<%-gam.icon%>); 
    background-size: contain; " method="POST" action="/achPanel" >
    <input style="display: none;" name="game" value="<%-gam.name%>">
    <button class="mainButt"><%-gam.name%></button>
</form>