<%-include('head.ejs')%>
<body>
    <div class="container">
        <%-include('../common/topNav.ejs')%>
        <main>

            <% doc.forEach(element => { %>
                <%- include('gamBox', {gam: element}) %>
            <% }); %>

        </main>
    </div>
</body>
</html>