<%-include('head.ejs')%>
<body>
    <div class="container">
        <%-include('../common/topNav.ejs')%>
        <main>
            <a href="/admin" class="cyberpunk">
                <h2>Cyberpunk 2077</h2>
            </a>

            <a href="/subnautica" class="subnautica">
                <h2>Subnautica</h2>
            </a>
        </main>
    </div>
</body>
</html>