<%-include('head.ejs')%>
<body>
    
    <%-include('../common/topNav.ejs')%>
    <div class="container">

        <header>
            <h1>PAGE NOT FOUND!</h1>
        </header>
        <main>
            <p>The page you are looking for appears to be missing</p>
            <a href="/">Back to main page</a>
        </main>
    </div>
</body>
</html>